<%= form_tag('/rakuten_item_search_result', :method => :get) do %>
<div class="form-group">
  <h1>商品検索</h1>
  <%= label_tag('iname', '商品名') %>
  <%= text_field_tag('iname', 'Rails', :class => 'form-control') %>
  <%= submit_tag('検索', :class => 'btn btn-info') %>
</div>
<% end %>
