<div class="srarter-template">
  <h1>楽天商品検索API テスト</h1>
    <table calss="table table-hover">
    <tr>
      <th>商品名</th>
      <th>値段</th>
<% @rankings.each do |ranking| %>
      <tr>
        <td><%= ranking.name %></td>
        <td><%= ranking.price %></td>
      </tr>
      <% end %>
    </table>
</div>

 
