<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %>
</p>

<h2>System Management</h2>
<p>
  <a href='books'>Book Management</a>
</p>

<h2>楽天API</h2>
<p>
  <a href='rakuten_item_ranking'>40代男性 のランキングTOP 30</a>
</p>

